.page-cover {
    padding: 0px 30px;
}

.search-group {
    border: 1px solid #ddd;
    padding: 20px 20px 10px;
    margin-bottom: 20px;
}

.btn-search {
    width: 100px;
}

.btn-add-new {
    width: 100px;
}

.btn-danger {
    width: 75px;
    font-size: 12px;
}

mat-form-field {
    width: 100%;
}

.table-cover {
    height: calc(100vh - 270px);
}

@media only screen and (max-width: 599px) {
    .table-cover {
        height: 400px;
    }
}

@media screen and (max-width: 699px) {
    .th-toggle-header,
    .td-hide-under-700 {
        display: none;
    }

    .each-shain-row {
        background-color: oldlace !important;
    }
}

@media screen and (min-width: 700px) {
    .tr-show-under-700 {
        display: none;
    }
}
