<!-- CONTENT -->
<div fxLayout="column" fxFlex="100" fxLayoutGap="16px">
    <mat-expansion-panel #sf (afterCollapse)="setHeight()" (afterExpand)="setHeight()" [expanded]="true">
        <mat-expansion-panel-header class="custom">
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="16px">
            <div fxFlex="1 1 100%" fxLayout="column" fxLayoutGap="16px">
                <div class="tsuuchi">
                    <div class="tsuuchi-title">お知らせ一覧:</div>
                    <div class="tsuuchi-list">
                        <div *ngFor="let tsuuchi of tsuuchiList">
                            <span class="category">
                                {{
                                    tsuuchi.tsuuchi_tourokubi
                                        | date: 'yyyy/MM/dd'
                                }}
                            </span>
                            <span>
                                {{ tsuuchi.tsuuchi_naiyou }}
                            </span>
                        </div>
                    </div>
                </div>
                <div id="filter">
                    <div class="filter-item">
                        <mat-form-field>
                            <mat-select [(value)]="formData.ki" placeholder="年度">
                                <mat-option value="000">すべて</mat-option>
                                <mat-option *ngFor="let option of kiList" [value]="option.ki">
                                    {{ option.year }} ({{ option.ki }}期)
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="filter-item">
                        <mat-form-field>
                            <mat-select [(value)]="formData.status" placeholder="ステータス">
                                <mat-option value="">すべて</mat-option>
                                <ng-template ngFor let-item [ngForOf]="status.list" let-i="index">
                                    <mat-option *ngIf="!item.hide" [disabled]="item.disabled" [value]="item.value">
                                        {{ item.name }}
                                    </mat-option>
                                </ng-template>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="filter-item">
                        <mat-form-field>
                            <input matInput placeholder="研修名" [(ngModel)]="formData.kensyuu_mei" />
                        </mat-form-field>
                    </div>
                    <div class="filter-item">
                        <mat-form-field>
                            <mat-select [(value)]="formData.shukankikan" placeholder="主管組織">
                                <mat-option value="-1">すべて</mat-option>
                                <mat-option *ngFor="let shukankikan of shukankikanList" [value]="shukankikan">
                                    {{ shukankikan }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="filter-item">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker1" (focus)="picker1.open()" placeholder="開催日(FROM)"
                                [(ngModel)]="formData.kensyuubi_from" />
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker [touchUi]="mobileQuery.matches" #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="filter-item">
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" (focus)="picker2.open()" placeholder="開催日(TO)"
                                [(ngModel)]="formData.kensyuubi_to" />
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker [touchUi]="mobileQuery.matches" #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="filter-item submit">
                        <button mat-raised-button class="btn-search" (click)="search()">
                            検索
                        </button>
                    </div>
                </div>
            </div>
            <div fxFlex="336px">
                <div id="datepicker" style="font-size: 12px; text-align: -webkit-center; width: 100%"></div>
                <div class="note-calendar text-center" style="height: 36px">
                    <span class="glyphicon glyphicon-stop start-color" aria-hidden="true"></span>
                    <span style="padding-left: 8px;">開催日</span>
                </div>
            </div>
        </div>
    </mat-expansion-panel>

    <!-- table -->
    <div class="table-container">
        <p-table [value]="kensyuuList" [scrollable]="true" [scrollHeight]="scrollH">
            <ng-template pTemplate="header">
                <tr>
                    <th width="40px">No</th>
                    <th width="120px" pSortableColumn="status">
                        ステータス
                        <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th width="95px" pSortableColumn="kensyuu_id">
                        研修ID
                        <p-sortIcon field="kensyuu_id"></p-sortIcon>
                    </th>
                    <th class="hide-smaller-600" width="150px" pSortableColumn="kensyuu_mei">
                        研修名
                        <p-sortIcon field="kensyuu_mei"></p-sortIcon>
                    </th>
                    <th class="hide-smaller-600" width="95px" pSortableColumn="nittei_from">
                        開催日
                        <p-sortIcon field="nittei_from"></p-sortIcon>
                    </th>
                    <th class="hide-smaller-960" width="85px" pSortableColumn="cancel_date" matTooltip="キャンセル可能日"
                        matTooltipPosition="above">
                        CXL
                        <p-sortIcon field="cancel_date"></p-sortIcon>
                    </th>
                    <th class="hide-smaller-960" width="95px" pSortableColumn="toukyou_oosaka_flag">
                        開催地
                        <p-sortIcon field="toukyou_oosaka_flag"></p-sortIcon>
                    </th>
                    <th class="hide-smaller-1024" width="150px" pSortableColumn="shukankikan">
                        主管組織
                        <p-sortIcon field="shukankikan"></p-sortIcon>
                    </th>
                    <th class="hide-smaller-1024" width="160px">受講情報</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-item let-index="rowIndex">
                <tr class="each-row">
                    <td class="text-center" width="40px">{{ index + 1 }}</td>
                    <td width="120px">
                        <a *ngIf="permission_cd !== '01' || item.status === 4" (click)="doAnketto(item)">
                            {{ status.getName(item.status) }}
                        </a>
                        <span *ngIf="
                                !(permission_cd !== '01' || item.status === 4)
                            ">
                            {{ status.getName(item.status) }}
                        </span>
                    </td>
                    <td class="text-center" width="95px">
                        {{ item.kensyuu_id }}
                    </td>
                    <td class="hide-smaller-600" width="150px" title="{{ item.kensyuu_mei }}">
                        <a class="hide-smaller-1024" title="{{ item.kensyuu_mei }}"
                            routerLink="/training/info/{{ item.nittei_id }}">
                            {{ item.kensyuu_mei | stringByteLimit }}
                        </a>
                        <a class="show-smaller-1024" routerLink="/training/info/{{ item.nittei_id }}">
                            {{ item.kensyuu_mei }}
                        </a>
                    </td>
                    <td class="text-center hide-smaller-600" width="95px">
                        {{ item.nittei_from | date: 'yyyy/MM/dd' }}
                    </td>
                    <td class="text-center hide-smaller-960" width="85px">
                        {{ item.cancel_date | date: 'yyyy/MM/dd' }}
                    </td>
                    <td class="text-center hide-smaller-960" width="95px">
                        {{ item.getToukyouOosaka(item.toukyou_oosaka_flag) }}
                    </td>
                    <td class="hide-smaller-1024" width="150px" title="{{ item.shukankikan }}">
                        {{ item.shukankikan | stringByteLimit }}
                    </td>
                    <td class="hide-smaller-1024 word-wrap" width="160px">
                        <a *ngIf="
                                shukankikanToLinkList[item.shukankikan];
                                else noLinkBlock
                            " title="{{
                                shukankikanToLinkList[item.shukankikan]
                            }}" href="{{ shukankikanToLinkList[item.shukankikan] }}" target="_blank">
                            {{
                                shukankikanToLinkList[item.shukankikan]
                                    | stringByteLimit: 20
                            }}
                        </a>
                        <ng-template #noLinkBlock>－</ng-template>
                    </td>
                </tr>
                <tr class="show-smaller-600">
                    <td>研修名</td>
                    <td colspan="2">
                        <a title="{{ item.kensyuu_mei }}" routerLink="/training/info/{{ item.nittei_id }}">
                            {{ item.kensyuu_mei }}
                        </a>
                    </td>
                </tr>
                <tr class="show-smaller-600">
                    <td>開催日</td>
                    <td colspan="2">
                        {{ item.nittei_from | date: 'yyyy/MM/dd' }}
                    </td>
                </tr>
                <tr class="show-smaller-960">
                    <td>CXL</td>
                    <td colspan="2">
                        {{ item.cancel_date | date: 'yyyy/MM/dd' }}
                    </td>
                    <td colspan="4">
                        {{ item.cancel_date | date: 'yyyy/MM/dd' }}
                    </td>
                </tr>
                <tr class="show-smaller-960">
                    <td>開催地</td>
                    <td colspan="2">
                        {{
                            item.toukyou_oosaka_flag &&
                            item.toukyou_oosaka_flag == 1
                                ? '東京'
                                : ''
                        }}
                        {{
                            item.toukyou_oosaka_flag &&
                            item.toukyou_oosaka_flag == 2
                                ? '大阪'
                                : ''
                        }}
                        {{
                            item.toukyou_oosaka_flag &&
                            item.toukyou_oosaka_flag == 5
                                ? '名古屋'
                                : ''
                        }}
                        {{
                            item.toukyou_oosaka_flag &&
                            item.toukyou_oosaka_flag == 9
                                ? 'その他'
                                : ''
                        }}
                    </td>

                    <td colspan="4">
                        {{
                            item.toukyou_oosaka_flag &&
                            item.toukyou_oosaka_flag == 1
                                ? '東京'
                                : ''
                        }}
                        {{
                            item.toukyou_oosaka_flag &&
                            item.toukyou_oosaka_flag == 2
                                ? '大阪'
                                : ''
                        }}
                        {{
                            item.toukyou_oosaka_flag &&
                            item.toukyou_oosaka_flag == 5
                                ? '名古屋'
                                : ''
                        }}
                        {{
                            item.toukyou_oosaka_flag &&
                            item.toukyou_oosaka_flag == 9
                                ? 'その他'
                                : ''
                        }}
                    </td>
                </tr>
                <tr class="show-smaller-1024">
                    <td>主管組織</td>
                    <td colspan="2">{{ item.shukankikan }}</td>
                    <td colspan="4">{{ item.shukankikan }}</td>
                    <td colspan="6">{{ item.shukankikan }}</td>
                </tr>
                <tr class="show-smaller-1024">
                    <td>受講情報</td>
                    <td colspan="2" class="word-wrap">
                        <a *ngIf="
                                shukankikanToLinkList[item.shukankikan];
                                else noLinkBlock
                            " title="{{
                                shukankikanToLinkList[item.shukankikan]
                            }}" href="{{ shukankikanToLinkList[item.shukankikan] }}" target="_blank">
                            {{ shukankikanToLinkList[item.shukankikan] }}
                        </a>
                        <ng-template #noLinkBlock>－</ng-template>
                    </td>
                    <td class="word-wrap" colspan="4">
                        <a *ngIf="
                                shukankikanToLinkList[item.shukankikan];
                                else noLinkBlock
                            " title="{{
                                shukankikanToLinkList[item.shukankikan]
                            }}" href="{{ shukankikanToLinkList[item.shukankikan] }}" target="_blank">
                            {{ shukankikanToLinkList[item.shukankikan] }}
                        </a>
                        <ng-template #noLinkBlock>－</ng-template>
                    </td>
                    <td class="word-wrap" colspan="6">
                        <a *ngIf="
                                shukankikanToLinkList[item.shukankikan];
                                else noLinkBlock
                            " title="{{
                                shukankikanToLinkList[item.shukankikan]
                            }}" href="{{ shukankikanToLinkList[item.shukankikan] }}" target="_blank">
                            {{ shukankikanToLinkList[item.shukankikan] }}
                        </a>
                        <ng-template #noLinkBlock>－</ng-template>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<app-back2top></app-back2top>
