<div class="body-margin-1">
    <div class="border-table-1">
        <div>
            <table>
                <tr>
                    <td style="width: 30px;"></td>
                    <th style="width: 200px;height: 45px; " class="th-lable-text">
                        メール送信元
                    </th>
                </tr>
            </table>
        </div>
        <div class="margin-table-1">
            <table style="width:  100%">
                <tr>
                    <td>
                        <mat-form-field style="width: 100%">
                            <input matInput [(ngModel)]="mailFormData.template_from_naiyou" />
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="height: 45px;"></div>
    <div class="border-table-1">
        <div>
            <table>
                <tr>
                    <td style="width:  30px"></td>
                    <th style="height: 45px; width: 250px;" class="th-lable-text">
                        メール本文
                    </th>
                </tr>
            </table>
        </div>
        <div class="margin-table-1">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="width: 200px;height: 45px;">申込</td>
                    <td>
                        <button style="width: 100px;
                                    " mat-raised-button class="btn-fix btn-search" (click)="detailEmail('moushikomi_kyouiku', '受講者')">
                            編集
                        </button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="width: 150px;height: 45px;">キャンセル</td>
                    <td>
                        <button style="width: 100px;
                                " mat-raised-button class="btn-fix btn-search" (click)="detailEmail('cancel_kyouiku', '受講者')">
                            編集
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="width: 150px;height: 45px;">申込後再送</td>
                    <td>
                        <button style="width: 100px;
                                    " mat-raised-button class="btn-fix btn-search" (click)="detailEmail('early_kyouiku', '受講者')">
                            編集
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="height: 45px;"></div>
    <div class="border-table-1">
        <div>
            <table>
                <tr>
                    <td style="width: 30px;"></td>
                    <th style="height: 45px; width: 250px;" class="th-lable-text">
                        メール送信タイミング
                    </th>
                </tr>
            </table>
        </div>
        <div class="margin-table-1">
            <table>
                <tr>
                    <td></td>
                    <td style="height: 45px;" class="th-lable-text"></td>
                    <td style="height: 45px;width: 40%;">
                        申込時
                    </td>
                    <td style="height: 45px;">研修の新規申込が発生する時</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="height: 45px;">
                        キャンセル時
                    </td>
                    <td style="height: 45px;">研修のキャンセルが発生する時</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="height: 45px;">
                        申込後再送
                    </td>
                    <td style="height: 45px;">
                        開始日
                        <mat-form-field style="width: 45px"> <input matInput style="width: 30px;margin:0px 10px 0px 10px" [(ngModel)]="formSettingMail.time" /> </mat-form-field>前
                        <!-- <input matInput placeholder="ホスト" style="width: 50px;" [(ngModel)]='time' />前 -->
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="height: 45px"></div>
    <div class="border-table-1">
        <div>
            <table>
                <tr>
                    <td style="width: 30px;"></td>
                    <th style="height: 45px; width: 250px;" class="th-lable-text">
                        管理者へのメール送信の宛先設定
                    </th>
                    <td></td>
                </tr>
            </table>
        </div>

        <!-- Phaanf 2 -->
        <div>
            <div class="margin-table-1">
                <div class="body">
                    <p-table [value]="this.data">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">
                                    主管組織
                                    <p-sortIcon field="id"></p-sortIcon>
                                </th>
                                <th>送信先</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-data>
                            <tr class="each-row">
                                <td (id)="(data.id_kyouiku_shukankikan)">
                                    {{ data.name_shukankikan }}
                                    <!-- <mat-form-field style="height: 20px;">
                                                    <input matInput [(ngModel)]="data.name_shukankikan" />
                                                </mat-form-field> -->
                                </td>
                                <td (id)="(data.id_kyouiku_shukankikan)">
                                    <!-- <mat-form-field style="height: 20px;">
                                                    <input matInput [(ngModel)]="data.mail_shukankikan" />
                                                </mat-form-field> -->
                                    <input matInput placeholder="メール" [(ngModel)]="data.mail_shukankikan" />
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 45px;"></div>
    <div class="border-table-1">
        <div>
            <table>
                <tr>
                    <td style="width: 30px;"></td>
                    <th style="height: 45px; width: 250px;" class="th-lable-text">
                        メールサーバ設定
                    </th>
                </tr>
            </table>
        </div>
        <div *ngIf="show_config" class="margin-table-1">
            <mat-dialog-content class="mat-typography">
                <div>
                    <mat-form-field style="width: 100%;">
                        <input matInput name="nameHost" [(ngModel)]="show_config.host" placeholder="SMTPサーバ" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width:100%;">
                        <input matInput name="namePort" [(ngModel)]="show_config.port" placeholder="ポート" />
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field style="width: 100%;">
                        <input matInput name="nameUser" [(ngModel)]="show_config.usermail_auth" placeholder="ユーザー名" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 100%;">
                        <input matInput name="nameUser" type="password" [(ngModel)]="show_config.passmail_auth" placeholder="パスワード" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field style="width: 100%;">
                        <mat-select [(ngModel)]="this.checkSecure" matNativeControl required placeholder="セキュア">
                            <mat-option value="true"> はい</mat-option>
                            <mat-option value="false">いいえ</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-dialog-content>
        </div>
    </div>
    <div style="height: 45px"></div>
    <div style="margin-left: 50%">
        <button mat-raised-button class="btn-fix btn-search" (click)="updateFormMailSetting()">
            保存
        </button>
    </div>
</div>
