<div class="container">
    <div class="row" style="padding-bottom: 20px; padding-top: 80px;">
        <div class="form">
            <form
                class="login-form"
                role="form"
                #f="ngForm"
                (ngSubmit)="login()"
            >
                <input
                    name="user_id"
                    [(ngModel)]="user.user_name"
                    type="text"
                    placeholder="User Name"
                    required
                />
                <input
                    id="password"
                    name="password"
                    [(ngModel)]="user.password"
                    type="password"
                    placeholder="Password"
                    required
                />
                <button type="submit" class="btn btn-login">Sign In</button>
                <p class="message" *ngIf="message">{{ message }}</p>
            </form>
        </div>
    </div>
</div>
