.custom.mat-expansion-panel-header {
    flex-direction: row-reverse;

    &[aria-expanded='false'] {
        height: 32px !important;
    }

    &[aria-expanded='true'] {
        height: 48px !important;
    }

    span.mat-content::before {
        content: '検索条件';
        padding-left: 15px;
    }

    .mat-expansion-indicator::after {
        border-width: 0 4px 4px 0;
        padding: 5px;
        position: relative;
        top: -5px;
        border-color: #ff7a00;
    }
}

.no-padding-dialog .mat-dialog-container {
    padding: 0px;
}

// .mat-calendar-body-cell-content::after {
//   content: '日';
// }
